# Turn mod_rewrite on
RewriteEngine On
RewriteBase /routes/

RewriteRule ^score/players scorePlayers.php
RewriteRule ^score/([-0-9a-z]+) scoreDetails.php?id=$1
RewriteRule ^$ index.php

# Alle HTML-Links werden auf gleichnamige PHP-Datei umgeleitet
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !\.php$

RewriteRule ^(.*)$ $1.php [L]


#VirtualHost auf /masterprojekt/app/ setzen