extends main

block body
    a(href="game") Play as Guest
    br
    a(href="login") Play as user
    br
    a(href="register") Register
    br
    a(href="score") Game Archive
    br
    a(href="score/players") Player Highscore