extends main

block body
    img(src="images/spiel.png")
    h2 Willkommen!
    br
    | Schnelle Reaktion und taktisches Gespür sind notwendig, um den Highscore zu erklimmen.
    h3
        u Features:
    ul
        li Sofort loslegen, ohne Plugins
        li Mehrspielermodus (bis zu 4 Spieler)
        li Archiv aller bisherigen Spiele
        li Globaler Highscore