if locals.username
    p Eingeloggt als: #{username}
    a(href="/logout") 
        input(type="button", class="button", value="Logout")
else
    form(action="/login",method="post")
        label(for="name") Name:
        input(type="text", name="name")
        label(for="password") Password:
        input(type="password", name="password")
        input(type="submit", class="button", value="Login")