ul
    li
        a(href="/") Startpage
    li
        a(href="/game") Play
    li
        a(href="/register") Register
    li
        a(href="/score") Game Archive
    li
        a(href="/score/players") Player Highscore