ul
    li
        a(href="/") Startseite
    li
        a(href="/game") Spielen
    li
        a(href="/register") Registrierung
    li
        a(href="/score") Spielarchiv
    li
        a(href="/score/players") Highscore