<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <% if( error == 'password' ){ %>
            <p> Not the same password!</p>
         <% } else if (error == 'username'){ %>
            <p> Username already exists!</p>
         <% } %>
        <form action="/register" method="post">
            Name: <input type="text" name="name"><br>
            Password: <input type="password" name="password"><br>
            Repeat Password: <input type="password" name="passwordRepeat">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>