<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <a href = '/score/players'>Player Score</a>
        <ul>
            <% for(var i=0; i<games.length; i++) {%>
               <li><a href = '/score/<%= games[i] %>'>Game <%= games[i] %></a></li>
            <% } %>
        </ul>
    </body>
</html>