<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <ol>
            <script>
            console.log("<%= players %>");
            </script>
            <% for(var i=0; i<players.length; i++) {%>
               <li><%= players[i].username %> <%= players[i].score %></li>
            <% } %>
        </ol>
    </body>
</html>